$white-color: #F3F3F3;
$background-color: #F2F2F2;
$blue-color: #4b719c;
$lighter-blue-color: lighten($blue-color, 20%);
$darker-blue-color: darken($blue-color, 20%);
$text-color: #ff0000;
$main-text-color: #555b6e;
$lighter-text-color: lighten($text-color, 25%);
$darker-text-color: darken($text-color, 10%);
$title-color: #66D9EF;
$orange-color: #f9a78e;
$grey-color: #AABBBB;
$light-grey-color: lighten($grey-color, 30%);
$green-color: #A6E22D;
$switch-color: #1F2736;
$switch-color-gradient: #161d2b;
