body {
  font-family: 'Lato', sans-serif;
  background-color: #F0F4F4;
  color: #555b6e; }

.navbar {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #555b6e;
  font-weight: 400; }

a {
  color: #66D9EF; }

a:hover {
  color: #87a5c6; }

.container-fluid {
  margin-top: 5vh; }

footer {
  border-top: 2px solid #4b719c;
  height: 80px;
  line-height: 80px;
  text-align: center; }

.green {
  color: #A6E22D; }

.sidebar-heading img {
  width: 200px; }

.small-navbar-heading img {
  width: 100px; }

#no-decoration {
  text-decoration: none; }

.info-search {
  margin-top: 5vh;
  margin-bottom: 53vh; }

.list_articles .tags-pill {
  background-color: #ff0000;
  color: #F3F3F3; }

.art h3 a:before {
  font-family: FontAwesome;
  content: "\f120"; }

.article {
  font-size: 1.25em;
  margin-bottom: 10vh;
  text-align: left; }
  .article .card {
    box-shadow: 2px 2px 8px white;
    margin-bottom: 1vh; }

.back_to_list {
  padding-top: 12vh; }

.pagination li a, .pagination li span {
  border: 1px solid #4b719c;
  color: #4b719c; }
.pagination li a:hover {
  color: #87a5c6; }
.pagination .page-item.active .page-link {
  background-color: #ff0000;
  border: 1px solid #ff0000; }

.about ul {
  list-style-type: none; }
.about a {
  color: #cc0000;
  transition: font-color 0.4s ease; }
.about a:hover {
  color: #ff8080;
  text-decoration: none; }
.about img {
  width: 150px; }
.about h2, .about h5 {
  color: #555b6e; }

.code {
  border: 1px solid #000000;
  background: #555b6e;
  color: #AABBBB; }

@media screen and (max-width: 500px) {
  .sidebar-heading img {
    width: 150px; } }
body {
  font-family: 'Lato', sans-serif;
  background-color: #F0F4F4;
  color: #555b6e; }

.navbar {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #555b6e;
  font-weight: 400; }

a {
  color: #66D9EF; }

a:hover {
  color: #87a5c6; }

.container-fluid {
  margin-top: 5vh; }

footer {
  border-top: 2px solid #4b719c;
  height: 80px;
  line-height: 80px;
  text-align: center; }

.green {
  color: #A6E22D; }

.sidebar-heading img {
  width: 200px; }

.small-navbar-heading img {
  width: 100px; }

#no-decoration {
  text-decoration: none; }

.info-search {
  margin-top: 5vh;
  margin-bottom: 53vh; }

.list_articles .tags-pill {
  background-color: #ff0000;
  color: #F3F3F3; }

.art h3 a:before {
  font-family: FontAwesome;
  content: "\f120"; }

.article {
  font-size: 1.25em;
  margin-bottom: 10vh;
  text-align: left; }
  .article .card {
    box-shadow: 2px 2px 8px white;
    margin-bottom: 1vh; }

.back_to_list {
  padding-top: 12vh; }

.pagination li a, .pagination li span {
  border: 1px solid #4b719c;
  color: #4b719c; }
.pagination li a:hover {
  color: #87a5c6; }
.pagination .page-item.active .page-link {
  background-color: #ff0000;
  border: 1px solid #ff0000; }

.about ul {
  list-style-type: none; }
.about a {
  color: #cc0000;
  transition: font-color 0.4s ease; }
.about a:hover {
  color: #ff8080;
  text-decoration: none; }
.about img {
  width: 150px; }
.about h2, .about h5 {
  color: #555b6e; }

.code {
  border: 1px solid #000000;
  background: #555b6e;
  color: #AABBBB; }

@media screen and (max-width: 500px) {
  .sidebar-heading img {
    width: 150px; } }

/*# sourceMappingURL=_custom_color_dark.css.map */
