$white-color: #f0f0df;
$blue-color: #4b719c;
$red-color: #e47490;
$yellow-color: #f7df89;
$orange-color: #f9a78e;
$grey-color: #2f2f2f;

body {
  font-family: 'Lato', sans-serif;
  background-color: $white-color;
  color: $grey-color;
}

.navbar {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $blue-color;
}

.container-fluid {
  margin-top: 5vh;
}