$white-color: #F3F3F3;
$blue-color: #4b719c;
$lighter-blue-color: lighten($blue-color, 20%);
$darker-blue-color: darken($blue-color, 20%);
$red-color: #e47490;
$lighter-red-color: lighten($red-color, 10%);
$darker-red-color: darken($red-color, 20%);
$yellow-color: #f7df89;
$orange-color: #f9a78e;
$grey-color: #2f2f2f;

body {
  font-family: 'Lato', sans-serif;
  background-color: $white-color;
  color: $grey-color;
}

.navbar {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $blue-color;
}

h3 {
  text-decoration: underline;
}

a {
  color: $blue-color;
}

a:hover {
  color: $lighter-blue-color;
}

.container-fluid {
  margin-top: 5vh;
}

// article list
.tags-pill {
  background-color: $red-color;
  color: $white-color
}

// article
.article {
  font-size: 1.25em;
  margin-bottom: 10vh;
}

.back_to_list {
  padding-top: 12vh;
}

//pagination color
.pagination {
  li {
    a, span {
      border: 1px solid $blue-color;
      color: $blue-color;
    }
    a:hover {
      color: $lighter-blue-color;
    }
  }
  .page-item.active {
    .page-link {
      background-color: $red-color;
      border: 1px solid $red-color;
    }

  }
}

//about page
.about {
  ul {
    list-style-type: none;
  }

  a {
    color: $red-color;
  }
  a:hover {
    color: $lighter-red-color;
  }
  img {
    width: 150px;
  }
}